<td>{{presta.typePresta}}</td>
<td>{{presta.client}}</td>
<td>{{presta.nbJours}}</td>
<td>{{presta.tjmHT | localCurrency}}</td>
<td>{{presta | total | currency:"€"}}</td>
<td>{{presta | total:presta.tauxTva | currency:"€"}}</td>
<td [appState]="presta.state">
  <select (change)=update($event)>
    <option [value]="presta.state">{{presta.state}}</option>
    <ng-container *ngFor="let state of states">
      <option *ngIf="state !== presta.state" [value]="state">{{state}}</option>
    </ng-container>
  </select>
</td>
<td><a [routerLink]="['update']" routerLinkActive="router-link-active">Modifier</a></td>
