<td>{{presta.typePresta}}</td>
<td>{{presta.client}}</td>
<td>{{presta.nbJours}}</td>
<td>{{presta.tjmHT | localCurrency}}</td>
<td>{{presta | total | currency:"€"}}</td>
<td>{{presta | total:presta.tauxTva | currency:"€"}}</td>
<td [appState]="presta.state">
  <select (change)="update($event)" (click)="$event.stopPropagation()">
    <option [value]="presta.state">{{presta.state}}</option>
    <ng-container *ngFor="let state of states">
      <option *ngIf="state !== presta.state" [value]="state">{{state}}</option>
    </ng-container>
  </select>
</td>
<td>
  <button type="button" class="btn btn-outline-danger" (click)="$event.stopPropagation(); delete()">X</button>
</td>
